.dockerignore
Dockerfile*
docker-compose*
/.github/
.env
.env.*
.git
.vscode
env/
local.py

/backend/doc/_build/
backend/htmlcov
backend/.coverage
backend/static/
backend/media/
/backend/node_modules/
/ui/node_modules/

/ui/build/
/ui/dist/






